:root{
    --primary-color: #a32600;
    --secondary-color: #02afb8;
    --tertiary-color: #fff;
}

.header{
    font-size: 24px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    position: inline;
}

.henry-and-i{
    max-height: auto;
    max-width: auto;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.header h1{
    color:#a32600;
}

.contact-me{
    position:inline;
}